<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Submit Songs - SSDUT Broadcasting</title>

    <!-- Favicons -->
    <link href="{{ url_for('static',path='img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static',path='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',path='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ url_for('static',path='lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',path='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',path='css/style-responsive.css') }}" rel="stylesheet">

    <script src="{{ url_for('static',path='lib/jquery/jquery.min.js') }}"></script>

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',path='lib/bootstrap-fileupload/bootstrap-fileupload.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',path='lib/bootstrap-datepicker/css/datepicker.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',path='lib/bootstrap-daterangepicker/daterangepicker.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',path='lib/bootstrap-timepicker/compiled/timepicker.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',path='lib/bootstrap-datetimepicker/datertimepicker.css') }}"/>
    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>
<section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="{{ url_for('static',path='index.html') }}" class="logo"><b>ORANGE<span>IN</span></b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="{{ url_for('static',path='index.html#') }}">
                        <i class="fa fa-tasks"></i>
                        <span class="badge bg-theme">4</span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 4 pending tasks</p>
                        </li>
                        <li>
                            <a href="{{ url_for('static',path='index.html#') }}">
                                <div class="task-info">
                                    <div class="desc">Dashio Admin Panel</div>
                                    <div class="percent">40%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('static',path='index.html#') }}">
                                <div class="task-info">
                                    <div class="desc">Database Update</div>
                                    <div class="percent">60%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('static',path='index.html#') }}">
                                <div class="task-info">
                                    <div class="desc">Product Development</div>
                                    <div class="percent">80%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('static',path='index.html#') }}">
                                <div class="task-info">
                                    <div class="desc">Payments Sent</div>
                                    <div class="percent">70%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                        <span class="sr-only">70% Complete (Important)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="external">
                            <a href="{{ url_for('static',path='#') }}">See All Tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- settings end -->
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="{{ url_for('static',path='index.html#') }}">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-theme">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 5 new messages</p>
                        </li>
                        <li>
                            <a href="{{ url_for('static',path='index.html#') }}">
                                <span class="photo"><img alt="avatar"
                                                         src="{{ url_for('static',path='img/ui-zac.jpg') }}"></span>
                                <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">Just now</span>
                  </span>
                                <span class="message">
                  Hi mate, how is everything?
                  </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('static',path='index.html#') }}">
                                <span class="photo"><img alt="avatar"
                                                         src="{{ url_for('static',path='img/ui-divya.jpg') }}"></span>
                                <span class="subject">
                  <span class="from">Divya Manian</span>
                  <span class="time">40 mins.</span>
                  </span>
                                <span class="message">
                  Hi, I need your help with this.
                  </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('static',path='index.html#') }}">
                                <span class="photo"><img alt="avatar"
                                                         src="{{ url_for('static',path='img/ui-danro.jpg') }}"></span>
                                <span class="subject">
                  <span class="from">Dan Rogers</span>
                  <span class="time">2 hrs.</span>
                  </span>
                                <span class="message">
                  Love your new Dashboard.
                  </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('static',path='index.html#') }}">
                                <span class="photo"><img alt="avatar"
                                                         src="{{ url_for('static',path='img/ui-sherman.jpg') }}"></span>
                                <span class="subject">
                  <span class="from">Dj Sherman</span>
                  <span class="time">4 hrs.</span>
                  </span>
                                <span class="message">
                  Please, answer asap.
                  </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('static',path='index.html#') }}">See all messages</a>
                        </li>
                    </ul>
                </li>
                <!-- inbox dropdown end -->
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle"
                       href="{{ url_for('static',path='index.html#') }}') }}">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge bg-warning">7</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow notify-arrow-yellow"></div>
                        <li>
                            <p class="yellow">You have 7 new notifications</p>
                        </li>
                        <li>
                            <a href="{{ url_for('static',path='index.html#') }}">
                                <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                Server Overloaded.
                                <span class="small italic">4 mins.</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('static',path='index.html#') }}">
                                <span class="label label-warning"><i class="fa fa-bell"></i></span>
                                Memory #2 Not Responding.
                                <span class="small italic">30 mins.</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('static',path='index.html#') }}">
                                <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                Disk Space Reached 85%.
                                <span class="small italic">2 hrs.</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('static',path='index.html#') }}">
                                <span class="label label-success"><i class="fa fa-plus"></i></span>
                                New User Registered.
                                <span class="small italic">3 hrs.</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('static',path='index.html#') }}">See all notifications</a>
                        </li>
                    </ul>
                </li>
                <!-- notification dropdown end -->
            </ul>
            <!--  notification end -->
        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="{{ url_for('static',path='login.html') }}">Logout</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <p class="centered"><a href="{{ url_for('static',path='about_us.html') }}"><img
                        src="{{ url_for('static',path='img/orangein.jpg') }}" class="img-circle" width="80"></a>
                </p>
                <h5 class="centered">Broadcasting Station</h5>
                <li class="mt">
                    <a href="/home">
                        <i class="fa fa-home"></i>
                        <span>主页</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a class="active" href="/submit_songs">
                        <i class="fa fa-music"></i>
                        <span>点歌</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/arrangements">
                        <i class="fa fa-tasks"></i>
                        <span>播放安排</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/files">
                        <i class="fa fa-folder"></i>
                        <span>歌曲文件</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/feedback">
                        <i class="fa fa-comment"></i>
                        <span>反馈信息</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/about_us">
                        <i class="fa fa-star"></i>
                        <span>关于我们</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> 点歌</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        <h4 class="mb"><i class="fa fa-angle-right"></i> 歌曲信息</h4>
                        <div class="alert alert-danger" id="error_alert" style="display: none"><b>提交错误！</b>
                        </div>
                        <div class="alert alert-success" id="success_alert" style="display: none"><b>提交成功！</b>you have successfully read this alarm message.
                        </div>
                        <div class="alert alert-warning" id="warning_alert" style="display: none"><b>提交警告！</b>
                        </div>
                        <form class="form-horizontal style-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">歌曲分享链接 (required)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="raw-link">
                                    <span class="help-block">点击 <strong><a
                                            href="{{ url_for('static',path='#') }}">Watch</a></strong> 获取更多信息。支持<img
                                            src="{{ url_for('static',path='./img/qqmusic_img.png') }}" alt="">QQ音乐和<img
                                            src="{{ url_for('static',path='./img/netease_img.png') }}"alt="netease_img">网易音乐的 <strong>非VIP</strong> 歌曲链接</span>
                                    <div class="progress progress-striped active" style="height: 10px;display: none">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="45"
                                             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                        </div>

                                    </div>
                                    <div id="song_info_box" style="display: none">
                                        <img src=""
                                             style="height: 70px;width: auto;display: inline;font-size: 15px"
                                             id="cover-pic">
                                        <strong><span id="title"></span></strong> - <span id="artist"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">歌曲分享链接 (必填)</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="playOptions" id="playOptions1" value="option1"
                                                   checked>
                                            立即播放
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="playOptions" id="playOptions2"
                                                   value="option2">
                                            在指定时间播放
                                        </label>
                                    </div>
                                    <script>
                                        $("input[name=playOptions]").click(function () {
                                            if ($("#playOptions2:checked").val() !== undefined) {
                                                $("#select-date").css("display", "inherit");
                                                $("#select-time").css("display", "inherit");
                                            } else {
                                                $("#select-date").css("display", "none");
                                                $("#select-time").css("display", "none");
                                            }
                                        });

                                    </script>
                                </div>
                            </div>
                            <div class="form-group" id="select-date" style="display: none">
                                <label class="col-xs-12 col-sm-2 control-label">Exp broadcasting date (required)</label>
                                <div class="col-xs-6 col-md-5 col-lg-3">
                                    <div data-date-format="yyyy-mm-dd" data-date="today"
                                         class="input-append date dpSong">
                                        <input type="text" size="16"
                                               class="form-control" id="date_textbox">
                                        <span class="input-group-btn add-on">
                        <button class="btn btn-theme picker" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                                    </div>
                                    <script>
                                        $(function () {
                                            $(".dpSong").datepicker();
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="form-group" id="select-time" style="display: none">
                                <label class="col-xs-12 col-sm-2 control-label">Exp broadcasting time (required)</label>
                                <div class="col-xs-6 col-md-5 col-lg-3">
                                    <div class="input-group bootstrap-timepicker">
                                        <input type="text" class="form-control timepicker-24" id="time_textbox">
                                        <span class="input-group-btn">
                        <button class="btn btn-theme04" type="button"><i class="fa fa-clock-o"></i></button>
                        </span>
                                    </div>
                                </div>
                            </div>
                            <script>
                                console.log($("#playOptions2:checked").val());
                                if ($("#playOptions2:checked").val() !== undefined) {
                                    $("#select-date").css("display", "inherit");
                                    $("#select-time").css("display", "inherit");
                                } else {
                                    $("#select-date").css("display", "none");
                                    $("#select-time").css("display", "none");
                                }
                            </script>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">你的名字 (选填)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="nname">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="ccomment" class="control-label col-lg-2">你的评论 (选填)</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control " id="ccomment" name="comment" style="resize:none"
                                    ></textarea>
                                    <span class="help-block">将会和这首歌曲一起播放</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">邮件 (必填)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="email" required>
                                    <span class="help-block">仅用于通知，你将收到关于你点播歌曲的播放安排邮件。</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-theme" id="submit_button" disabled>提交</button>
                                </div>
                            </div>
                        </form>
                        <script>
                            var link_valid = false;
                            var ajax_wait;
                            $("#raw-link").change(function () {
                                if ($("#raw-link").val() === "") {
                                    $("#song_info_box").css("display", "none");
                                    $("#error_alert").css("display", "none");
                                    return;
                                }
                                console.log(encodeURIComponent($("#raw-link").val()));
                                is_waiting = true;
                                $ ("#submit_button").prop ('disabled', true);
                                ajax_wait = $.ajax({
                                    url: "/submit_songs/song_info/",
                                    type: "GET",
                                    data: {shared_link: encodeURIComponent($("#raw-link").val())},
                                    contentType: 'application/json',
                                    //dataType: "json",
                                    success: function (data) {
                                        console.log(data);
                                        $("#cover-pic").attr("src", data.picture_link);
                                        $("#title").text(data.title);
                                        $("#artist").text(data.artist);
                                        $("#song_info_box").css("display", "inline");
                                        $("#error_alert").css("display", "none");
                                        link_valid = true;
                                        is_waiting = false;
                                        $ ("#submit_button").prop ('disabled', false);
                                        //data = jQuery.parseJSON(data);
                                    },
                                    error: function (xhr, state, errorThrown) {
                                        $("#song_info_box").css("display", "none");
                                        $("#error_alert").text("Invalid Song Shared Link!")
                                        $("#error_alert").css("display", "block");
                                        $ ("#submit_button").prop ('disabled', true);
                                        link_valid = false;
                                        is_waiting = false;
                                    }
                                });
                            });

                            $("#submit_button").click(function () {
                                var date;
                                if ($("#playOptions2").is(":checked")) {
                                    var datetimestr = $("#date_textbox").val() + " " + $("#time_textbox").val();
                                    date = new Date(datetimestr);
                                } else {
                                    date = new Date().setTime(0);
                                }

                                console.log(datetimestr);
                                if ($("#email").val() === "" || $("#raw-link").val() === "") {
                                    console.log("No valid input");
                                    return;
                                }
                                var params = {
                                    "shared_link": $("#raw-link").val(),
                                    "expDatetime": date,
                                    "email": $("#email").val(),
                                    "name": $("#nname").val(),
                                    "message": $("#ccomment").val(),
                                }
                                $.when(ajax_wait).done(function () {
                                    $.ajax({
                                        url: "/submit_songs",
                                        type: "POST",
                                        data: JSON.stringify(params),
                                        contentType: 'application/json',
                                        //dataType: "json",
                                        success: function (data) {
                                            console.log(data);
                                            //data = jQuery.parseJSON(data);
                                        },
                                        error: function (xhr, state, errorThrown) {

                                        }
                                    });
                                });
                            });
                        </script>
                    </div>
                </div>
                <!-- col-lg-12-->
            </div>
            <!-- /row -->
        </section>
        <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            <p>
                &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
            </p>
            <div class="credits">
                <!--
                  You are NOT allowed to delete the credit link to TemplateMag with free version.
                  You can delete the credit link only if you bought the pro version.
                  Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
                  Licensing information: https://templatemag.com/license/
                -->
                Created with Dashio template by <a href="{{ url_for('static',path='https://templatemag.com/') }}">TemplateMag</a>
            </div>
            <a href="{{ url_for('static',path='submit_songs.html#') }}" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>
<!-- js placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static',path='lib/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',path='lib/jquery-ui-1.9.2.custom.min.js') }}"></script>
<script src="{{ url_for('static',path='lib/jquery.ui.touch-punch.min.js') }}"></script>
<script class="include" type="text/javascript"
        src="{{ url_for('static',path='lib/jquery.dcjqaccordion.2.7.js') }}"></script>
<script src="{{ url_for('static',path='lib/jquery.scrollTo.min.js') }}"></script>
<script src="{{ url_for('static',path='lib/jquery.nicescroll.js') }}" type="text/javascript"></script>
<!--common script for all pages-->
<script src="{{ url_for('static',path='lib/common-scripts.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('static',path='lib/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',path='lib/bootstrap-daterangepicker/date.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static',path='lib/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static',path='lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static',path='lib/bootstrap-daterangepicker/moment.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static',path='lib/bootstrap-timepicker/js/bootstrap-timepicker.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static',path='lib/advanced-form-components.js') }}"></script>
<script>
    $(document).load(function () {
        if ($("#playOptions2:checked").val() !== undefined) {
            $("#select-date").css("display", "inherit");
            $("#select-time").css("display", "inherit");
        } else {
            $("#select-date").css("display", "none");
            $("#select-time").css("display", "none");
        }
    })
</script>
</body>

</html>
