<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 实例</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>节目信息查看</h1>
    </div>
    {% if cur_arrangement %}
    <h2>当前播放</h2>
    <table class="table" title="当前播出">
        <thead>
        <tr>
            <th>File</th>
            <th>Begin time</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{cur_arrangement.file}}</td>
            <td class="timestamp_with_tz">{{cur_arrangement.begin_timestamp.timestamp()}}</td>
            <td>{{cur_arrangement.note}}</td>
        </tr>
        </tbody>
    </table>
    {% endif %}
    <h2>节目安排</h2>
    <table class="table">
        <thead>
        <tr>
            <th>File</th>
            <th>Begin time</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {% for arrangement in arrangements%}
        <tr>
            <td>{{arrangement.file}}</td>
            <td class="timestamp_with_tz">{{arrangement.begin_timestamp.timestamp()}}</td>
            <td>{{arrangement.note}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/arrangement/add" type="button">
        添加节目
    </a>
    <a href="/upload" type="button">
        上传文件
    </a>
</div>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $(".timestamp_with_tz").each(function (){
            var date_res = new Date(parseFloat($(this).text())*1000);
        $(this).text(date_res.toLocaleString());
        });
    });
</script>
</body>
</html>
